/* -----------------------------------------------------------
	Top bar in header background colour
----------------------------------------------------------- */
#header-top {
	background: #3366cc;
}

/* -----------------------------------------------------------
	Logo text colour
----------------------------------------------------------- */
#logo h1 span {
	color: #3366cc;
}

/* -----------------------------------------------------------
	Top right social icon background hover colour
----------------------------------------------------------- */


.gplus-icon:hover,
.pinterest-icon:hover,
.flickr-icon:hover,
.vimeo-icon:hover,
.skype-icon:hover,
.rss-icon:hover {
	background-color: #3366cc;
}

.twitter-icon:hover {background-color:#23c1d9;}
.facebook-icon:hover {background-color:#3062b3;}
.youtube-icon:hover	{background-color:#d50b0b;}
/* -----------------------------------------------------------
	5 colour blocks on homepage, 1 = left, 5 = right
----------------------------------------------------------- */
.header-block-style-1 {
	background: #3366cc;
}

.header-block-style-1:hover {
	background: #ff9915;
}

.header-block-style-2 {
	background: #3366cc;
}

.header-block-style-2:hover {
	background: #ff9915;
}

.header-block-style-3 {
	background: #3366cc;
}

.header-block-style-3:hover {
	background: #ff9915;
}

.header-block-style-4 {
	background: #3366cc;
}

.header-block-style-4:hover {
	background: #ff9915;
}

.header-block-style-5 {
	background: #3366cc;
}

.header-block-style-5:hover {
	background: #ff9915;
}

/* -----------------------------------------------------------
	Border colour for current/hover main menu items
----------------------------------------------------------- */
#main-menu li.current_page_item,
#main-menu li:hover {
	border-color: #3366cc;
}

/* -----------------------------------------------------------
	Homepage slideshow arrow colour
----------------------------------------------------------- */
.slider .flex-direction-nav .flex-prev {
	border-color: #3366cc;
	background-color: #3366cc;
}

.slider .flex-direction-nav .flex-next {
	border-color: #3366cc;
	background-color: #3366cc;
}

/* -----------------------------------------------------------
	Page slideshow arrow colour
----------------------------------------------------------- */
.page-slider .flex-direction-nav .flex-prev {
	border-color: #3366cc;
	background-color: #3366cc;
}

.page-slider .flex-direction-nav .flex-next {
	border-color: #3366cc;
	background-color: #3366cc;
}

/* -----------------------------------------------------------
	Blockquote border colour
----------------------------------------------------------- */
.page-content blockquote {
	border-color: #3366cc;
}

/* -----------------------------------------------------------
	Table head colour
----------------------------------------------------------- */
.page-content table th {
	background: #3366cc;
}

/* -----------------------------------------------------------
	Table text link colour
----------------------------------------------------------- */
table tr a {
	color: #3366cc;
}

/* -----------------------------------------------------------
	Tab border colour
----------------------------------------------------------- */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	border-color: #3366cc;
}

/* -----------------------------------------------------------
	Content block title background colour
----------------------------------------------------------- */
.block-title {
	background: #3366cc;
}

/* -----------------------------------------------------------
	Event month background colour
----------------------------------------------------------- */
.event-m {
	background: #fc4456;
}

/* -----------------------------------------------------------
	Event title link colour
----------------------------------------------------------- */
.event-info h4 a {
	color: #333333;
}

/* -----------------------------------------------------------
	Blog title link colour
----------------------------------------------------------- */
.news-content h4 a {
	color: #333333;
}

/* -----------------------------------------------------------
	Blog date background colour
----------------------------------------------------------- */
.blog-entry .blog-info .blog-date {
	background: #fc4456;
}

/* -----------------------------------------------------------
	Blog title link colour
----------------------------------------------------------- */
.blog-entry .blog-content h3 a {
	color: #333333;
}

/* -----------------------------------------------------------
	Pagination hover/current colour
----------------------------------------------------------- */
.pagination-wrapper .selected,
.pagination-wrapper a:hover {
	background: #3366cc;
	border-color: #3366cc;
}

/* -----------------------------------------------------------
	Course finder background colour
----------------------------------------------------------- */
.course-finder-full .course-finder-icon {
	background-color: #3366cc;
}

/* -----------------------------------------------------------
	Teacher title background colour
----------------------------------------------------------- */
.teacher-4 li h3.teacher-title {
	background: #3366cc;
}

/* -----------------------------------------------------------
	Twitter widget link colour
----------------------------------------------------------- */
.sidebar-right #twitter_update_list li a,
.sidebar-right #twitter_update_list li a {
	color: #3366cc;
}

/* -----------------------------------------------------------
	Latest post title colour
----------------------------------------------------------- */
.widget .latest-posts-list li .lpl-content h6 a {
	color: #3366cc;
}

/* -----------------------------------------------------------
	Footer background colour
----------------------------------------------------------- */
#footer-wrapper {
	background: #3366cc;
}

/* -----------------------------------------------------------
	Slide caption background colour, must be in RGBA format 
	if you want to keep it transparent. You can use this
	website to convert a regular hex colour to RGBA:
	http://hex2rgba.devoth.com/
----------------------------------------------------------- */
.page-slider .slides .flex-caption p {
	background: rgba(137, 208, 251, 0.6);
}

.slider .slides .flex-caption p {
	background: rgba(137, 208, 251, 0.6);
}

.flexslider .slides .flex-caption p {
	background: rgba(137, 208, 251, 0.6);
}

/* -----------------------------------------------------------
	Slide caption background colour for IE8, change the two
	"70209B60" values, it's just a regular six digit hex
	colour but with transparency percentage added before e.g.
	
	70209B60 = The hex colour #209B60 @ 70% transparency
	
----------------------------------------------------------- */
.ie8 .flex-caption p {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70209B60,endColorstr=#70209B60);
}

/* -----------------------------------------------------------
	Colour of links separators in the top left navigation
----------------------------------------------------------- */
.top-left-nav li span {
	color: #ffffff;
}

/* -----------------------------------------------------------
	Hover colour of links in the top left navigation
----------------------------------------------------------- */
#header-top a:hover {
	color: #ffffff;
}

/* -----------------------------------------------------------
	Widget title border/block colour
----------------------------------------------------------- */
.widget-title-block {
	background: #ffffff;
}

/* -----------------------------------------------------------
	Tag widget background colour
----------------------------------------------------------- */
.wp-tag-cloud li {
	background: #ffffff;
}

/* -----------------------------------------------------------
	Background colour of footer bottom bar
----------------------------------------------------------- */
#footer-bottom {
	background: #727d84;
}

/* -----------------------------------------------------------
	Page title border/block colour
----------------------------------------------------------- */
.page-title .page-title-block {
	background: #3366cc;
}

/* -----------------------------------------------------------
	Course finder background colour
----------------------------------------------------------- */
.course-finder-full .course-finder-full-form {
	background: #3366cc;
}

/* -----------------------------------------------------------
	Page title border/block colour
----------------------------------------------------------- */
.title1 h4 a {
	color: #3366cc;
}

.title-block {
	background: #3366cc;
}

/* -----------------------------------------------------------
	Twitter widget link colour
----------------------------------------------------------- */
#twitter_update_list li a {
	color: #3366cc;
}

/* -----------------------------------------------------------
	Footer bottom bar text colour
----------------------------------------------------------- */
#footer-bottom p {
	color: #fff;
}

#footer-bottom a{
	color: #94c9b0;
}

#footer-bottom .go-up a{
	color: #fff;
}