header{
	position: relative;
	z-index: 10;
}
.navbar-nav {
  margin: 0 30px;
}
.navbar-nav > li > a {
  padding-top: 35px;
  padding-bottom: 35px;
  line-height: 20px;
  font-family: 'Ubuntu';
  font-size: 11pt;
  text-transform: uppercase;
}	
.navbar-default {
  background-color: #421c06;
  border-color: none;
  border-bottom: 5px solid #063642;
}
.navbar-default .navbar-brand {
	margin-top: -10px;
  	color: #fff;
  	font-family: 'Ubuntu';
  	text-transform: uppercase;
  	font-size: 16pt;
}
.navbar-default .navbar-brand img{
	width: 380px;
	display:inline-block;
	float:left;
	margin-left: 50px;
	margin-top: 10px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #E3B188;
  background-color: transparent;  
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e7e7e7;
  background-color: rgba(255,255,255,.2);
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e7e7e7;
  background-color: rgba(0,0,0,.4);
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 12pt;
  text-align: left;
  list-style: none;
  background-color: rgba(0,0,0,.7);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: none;
  border-bottom: none;
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #fff;
  white-space: nowrap;
  font-family: 'Ubuntu';
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #e7e7e7;
  text-decoration: none;
  background-color: rgba(0,0,0,.6);
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#topic{
	min-height: 550px;
	position: relative;
	background: url(http://kebudayaan.kemdikbud.go.id/whc/images/gallery/1a14ad9b3b60fa2a57f9cf73b3513aceDJI00052.JPG) no-repeat center center;
	background-size: cover;
	position: relative;
	margin: 0;
	display: table;
	width: 100%;
}
#topic .bg-tr{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,.6);
}
#topic .title{
	font-family: 'Ubuntu';
	color: #fff;
	position: relative;
	z-index: 10;
	text-align: center;
	width: 100%;
	margin: 50px auto 0;
}
#topic .title h1{
	font-size: 40pt;
}
#topic .title h3{
	font-size: 20pt;
}
#topic .title hr{
	width: 40%;
	margin: 10px auto 0;
	border-width: 5px;
	border-color: #fff;
}
.search-form{
	background-color: rgba(255,255,255,.5);
	color: #000;
	border: 1px solid transparent;
}
.search-form::-moz-placeholder {
  color: #333;
  opacity: 1;
}
.search-form:-ms-input-placeholder {
  color: #333;
}
.search-form::-webkit-input-placeholder {
  color: #333;
}
.domain{
	margin: 50px auto 50px;
}
.domain .item{
	/*width: 200px;*/
	margin: 0 auto 0;
}
.domain .item .icon{
	width: 150px;
	height: 150px;
	margin: 0 auto 0;
	border-radius: 150px;
	border: 3px solid #fff;
}
.domain .item .icon.sejarah{
	background: url(../img/sejarah.png) no-repeat center 20px;
	background-size: 60%;
}
.domain .item .icon.hayat{
	background: url(../img/hayat.png) no-repeat center center;
	background-size: 60%;
}
.domain .item .icon.kesenian{
	background: url(../img/kesenian.png) no-repeat center center;
	background-size: 60%;
}
.domain .item .icon.tradisi{
	background: url(../img/tradisi.png) no-repeat center center;
	background-size: 80%;
}
.domain .item .name{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Ubuntu';
	font-size: 13pt;
	color: #fff;
}
#news{
	width: 100%;
	font-family: 'Ubuntu';
	min-height:250px;
}
#news .title{
	padding: 5px 10px;
	width: 100%;
	background: #421c06;
	border-left: 5px solid #063642;
	color: #fff;
	font-family: 'Ubuntu';
	font-size: 13pt;
	font-weight: bold;
}
#news .news-item a{
	color: #000;
}
#news .news-item .list-unstyled i{
	color: #063642;
}
#news .news-item li{
	font-size: 11pt;
	padding: 5px;
}
#news .stat h1{
	color: #063642;
}
.agenda{
	font-size: 11pt;
}
.agenda dt{
	color: #063642;
}
.news-detail{
	width: 80%;
	margin: 20px auto 20px;
	font-family: 'Ubuntu';
}
.news-detail .title{
	font-size: 25pt;
	color: #063642;
}
.news-detail .content{
	width: 80%;
	font-size: 14pt;
}
footer{
	background: #222;
	font-family: 'Ubuntu';
	color: #ddd;
}
footer hr{
	margin: 0;
	margin-bottom: 20px;
	border-color: #555;
}
footer a{
	color: #ddd;
}
footer a:hover{
	color: #fff;
}