/* Modification Style by @garrycoy - http://garry.cucipiring.com */

small	{font-size:14px;}
.psma-logo	{float:left; margin-right:15px; margin-left:15px;}
.psma-text-input	{width:100%; padding:7px; font-size:14px; color:#aaa;}
.recent-video	{width:100%; float:left; margin-bottom:10px;}
//.recent-video a embed{margin: 0 0 15px 0;}

.mobile-logo		{width:100%; padding:15px 0 15px 0; text-align:center; color:#3366cc; display:none;}
.mobile-logo img	{margin-bottom:15px;}
.mobile-logo a		{color:#3366cc;}

/* gallery*/
.my_gallery_wrapper .my_gallery_image {
	float: left;
	margin: 0 8px 8px 0;
	height: 62px;
}


.my_gallery_wrapper .my_gallery_image img {
	width: 62px;
	height: 62px;
}


@media screen and (max-width: 768px) {
.social-icons {
	width:100%;
	margin:auto;
	text-align:center;
}

.social-icons li {
	float: none;
	display:inline-block;
	margin: 0 4px 0 0;
}

#logo {
	display:none;
}

.mobile-logo	{
	display:block;}



}